.title{
    text-align: center;
}
.body{
    background-color: #ccffff;
}
.body_dark{
    color: white;
    background-color:  #00b0e6;}
    body {
        background: aliceblue;
        color: black;
        transition: 0.5s ease-in-out;
    }

    .dark-mode {
        background: rgb(14, 13, 42);
        color: white;
    }
    .theme-button 
{
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }