.nav{
    background-color: skyblue;
    justify-content: space-evenly;
    height: 130px;
  }  
  .btn{
    border-radius: 10px;
    text-decoration: none;
    color: black;
  }
  .btn-view{
    margin-bottom: -200px;
    width: 100px;
  }
  .symb{
    margin-left: auto;
    
    display: block;
  }
  .logo{
    margin-left: -70px;
    border-radius: 10px;
  }
  .know-health{
    margin-top: 120px;
  }
